
<div>
    <form action="/Clients/ClientsByName" method="post">
        <label for="State">Nombre de Cliente</label>
        <input class="form-control" type="text" name="NombreClient" id="NombreClient" />
        <input class="btn btn-primary" type="submit" name="NombreClient" value="Enviar Datos" />

    </form>

    <form action="/Clients/ClientsByCompany" method="post">
            <label for="EmpresaClient"> Empresa </label>
            <input class="form-control" type="text" name="EmpresaClient" id="EmpresaClient" />
            <input class="btn btn-primary" type="submit" name="EmpresaClient" value="Enviar Datos" />
        </form>

</div>