<div>

    <form action="/Seller/SellerByName" method="post">
        <label for="NombreVend">Nombre de vendedor</label>
        <input class="form-control" type="text" name="NombreVend" id="NombreVend" />
        <input class="btn btn-primary" type="submit" name="NombreVend" value="Enviar Datos" />

    </form>

    <form action="/Seller/SellerByState" method="post">
        <label for="Estado">Estado</label>
        <input class="form-control" type="text" name="Estado" id="Estado" />
        <input class="btn btn-primary" type="submit" name="Estado" value="Enviar Datos" />
    </form>


</div>

