<div>

    <form action="/Suppliers/SuppliersByCompany" method="post">
        <label for="Empresa">Estado</label>
        <input class="form-control" type="text" name="Empresa" id="Empresa" />
        <input class="btn btn-primary" type="submit" name="ID" value="Enviar Datos" />
    </form>

    <form action="/Suppliers/SuppliersByName" method="post">
        <label for="NombreProv">Name</label>
        <input class="form-control" type="text" name="NombreProv" id="NombreProv" />
        <input class="btn btn-primary" type="submit" name="NombreProv" value="Enviar Datos" />
    </form>

</div>
